/*--------------------------------------------------------------
  13. Hero
----------------------------------------------------------------*/

.ak-hero.ak-style1 {
  position: relative;
  height: 100vh;
  .hero-content {
    position: absolute;
    display: flex;
    max-width: 700px;
    font-weight: 700;
    height: 100%;
    align-items: center;
    top: 50px;
    .hero-stroke-text {
      text-transform: uppercase;
      &-one {
        font-size: 178px;
        cursor: default;
        line-height: 70%;
      }
      &-two {
        font-size: 109px;
        cursor: default;
      }
      .hero-title-three {
        font-size: 73px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 20px;
      }
    }
    .hero-desp {
      margin-bottom: 50px;
      font-weight: 400;
      max-width: 630px;
      line-height: 27px;
      font-size: 18px;
    }
  }
  .hero-1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 43%;
    overflow: hidden;
  }

  .hero-social-icon {
    position: absolute;
    left: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .dot-line {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #d5bda2;
      border-radius: 50%;
      position: relative;
      top: 80px;
      &::before {
        left: 50%;
        position: absolute;
        content: "";
        transform: rotate(90deg);
        transform-origin: left;
        width: 200px;
        height: 1px;
        flex-shrink: 0;
        opacity: 0.3;
        background-color: #d5bda2;
      }
    }

    .dot-line-two {
      @extend .dot-line;
      transform: rotate(180deg);
      top: -80px;
    }
    .social-icon {
      transform: rotate(270deg);
    }
  }
}
.ak-hero.ak-style2 {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  .ak-hero-bg {
    position: absolute;
    height: calc(100% + 100px);
    width: 100%;
    left: 0;
    top: 0;
  }
  .hero-content-2 {
    position: absolute;
    max-width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    padding-top: 100px;
    .hero-stroke-text {
      .hero-stroke-text-one {
        font-size: 160px;
        line-height: 74%;
      }
      .hero-stroke-text-two {
        font-size: 98px;
        line-height: 100%;
      }
      .hero-title-three {
        font-size: 72px;
        line-height: 100%;
        text-transform: uppercase;
      }
    }
    .hero-desp {
      margin-top: 20px;
      margin-bottom: 50px;
      max-width: 629px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
    }
  }
}
@media screen and (max-width: 1580px) {
  .ak-hero.ak-style1 {
    .hero-social-icon {
      left: -10px;
    }
  }
}
@media screen and (max-width: 1399px) {
  .ak-hero.ak-style1 {
    .hero-content {
      .hero-stroke-text {
        &-one {
          font-size: 115px;
          margin-top: 50px;
          display: block;
        }
        &-two {
          font-size: 75px;
        }
        .hero-title-three {
          font-size: 50px;
        }
      }
      .hero-desp {
        margin-bottom: 20px;
        line-height: 27px;
        font-size: 16px;
        max-width: 450px;
      }
    }
  }
  .ak-hero.ak-style2 {
    .hero-content-2 {
      .hero-stroke-text {
        display: flex;
        flex-direction: column;
        .hero-stroke-text-one {
          font-size: 106px;
        }
        .hero-stroke-text-two {
          font-size: 79px;
        }
        .hero-title-three {
          font-size: 60px;
        }
      }
      .hero-desp {
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .ak-hero.ak-style1 {
    .hero-social-icon {
      display: none !important;
    }
  }
  .ak-hero.ak-style2 {
    .hero-content-2 {
      margin: 0px 15px;
    }
  }
}
@media screen and (max-width: 991px) {
  .ak-hero.ak-style1 {
    .hero-1 {
      z-index: 11;
      width: 100%;
      .ak-hero-bg {
        opacity: 0.4;
      }
    }
    .hero-content {
      z-index: 12;
    }
  }
}

@media screen and (max-width: 767px) {
  .ak-hero.ak-style1 {
    display: flex;
    align-items: center;
    .hero-content {
      display: flex;
      position: relative;
      align-items: center;
      flex-wrap: wrap;
      top: 0px;
      margin-bottom: 50px;
      .hero-stroke-text {
        &-one {
          font-size: 85px;
          margin-top: 50px;
          line-height: 102%;
        }
        &-two {
          font-size: 52px;
          line-height: 100%;
        }
        .hero-title-three {
          font-size: 50px;
        }
      }
      .hero-desp {
        margin-bottom: 20px;
        line-height: 27px;
        font-size: 16px;
        max-width: 450px;
      }
    }
  }
  .ak-hero.ak-style2 {
    .hero-content-2 {
      padding: 0;
      .hero-stroke-text {
        display: flex;
        flex-direction: column;
        .hero-stroke-text-one {
          font-size: 92px;
        }
        .hero-stroke-text-two {
          font-size: 62px;
        }
        .hero-title-three {
          font-size: 48px;
        }
      }
      .hero-desp {
        margin-top: 20px;
        margin-bottom: 28px;
        font-size: 16px;
      }
    }
  }
  .hero_slider_controller_2 {
    right: auto;
    left: 15px;
    bottom: 60px;
  }
}

@media screen and (max-width: 575px) {
  .ak-hero.ak-style2 {
    .hero-content-2 {
      .hero-stroke-text {
        .hero-stroke-text-two {
          font-size: 51px;
        }
        .hero-title-three {
          font-size: 38px;
        }
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .ak-hero.ak-style1 {
    .hero-content {
      .hero-stroke-text {
        &-one {
          font-size: 52px;
        }
        &-two {
          font-size: 42px;
        }
        .hero-title-three {
          font-size: 42px;
        }
      }
    }
  }
}
